@model DumpApp.BAL.LoginModel.ViewModel.LoginViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Xenon Boostrap Admin Panel" />
    <meta name="author" content="" />
    <title>Dump Application</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" href="~/assets/css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="~/assets/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/xenon-core.css">
    <link rel="stylesheet" href="~/assets/css/xenon-forms.css">
    <link rel="stylesheet" href="~/assets/css/xenon-components.css">
    <link rel="stylesheet" href="~/assets/css/xenon-skins.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <link href="~/assets/css/lobibox.min.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/assets/js/lobibox.min.js"></script>
    <script src="~/assets/js/notification-custom-script.js"></script>
    <script src="~/assets/js/notifications.min.js"></script>

</head>
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnBegin = "OnBegin";
    options.OnComplete = "OnComplete";
    options.OnFailure = "OnFailure";
    options.OnSuccess = "OnSuccess";
    options.LoadingElementId = "divProgress";
    options.LoadingElementDuration = 1000;
    options.UpdateTargetId = "divResponse";
    options.InsertionMode = InsertionMode.InsertAfter;
}
<body class="page-body login-page login-light">

    <div class="login-container">

        <div class="row">

            <div class="col-sm-6">

                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        // Reveal Login form
                        setTimeout(function () { $(".fade-in-effect").addClass('in'); }, 1);


                        //// Validation and Ajax action
                        //$("form#login").validate({
                        //	rules: {
                        //		username: {
                        //			required: true
                        //		},

                        //		passwd: {
                        //			required: true
                        //		}
                        //	},

                        //	messages: {
                        //		username: {
                        //			required: 'Please enter your username.'
                        //		},

                        //		passwd: {
                        //			required: 'Please enter your password.'
                        //		}
                        //	},

                        //	// Form Processing via AJAX
                        //	submitHandler: function(form)
                        //	{
                        //		show_loading_bar(70); // Fill progress bar to 70% (just a given value)

                        //		var opts = {
                        //			"closeButton": true,
                        //			"debug": false,
                        //			"positionClass": "toast-top-full-width",
                        //			"onclick": null,
                        //			"showDuration": "300",
                        //			"hideDuration": "1000",
                        //			"timeOut": "5000",
                        //			"extendedTimeOut": "1000",
                        //			"showEasing": "swing",
                        //			"hideEasing": "linear",
                        //			"showMethod": "fadeIn",
                        //			"hideMethod": "fadeOut"
                        //		};

                        //		$.ajax({
                        //			url: "data/login-check.php",
                        //			method: 'POST',
                        //			dataType: 'json',
                        //			data: {
                        //				do_login: true,
                        //				username: $(form).find('#username').val(),
                        //				passwd: $(form).find('#passwd').val(),
                        //			},
                        //			success: function(resp)
                        //			{
                        //				show_loading_bar({
                        //					delay: .5,
                        //					pct: 100,
                        //					finish: function(){

                        //						// Redirect after successful login page (when progress bar reaches 100%)
                        //						if(resp.accessGranted)
                        //						{
                        //																			window.location.href = 'dashboard-1.html';
                        //																		}
                        //																}
                        //				});


                        //				// Remove any alert
                        //				$(".errors-container .alert").slideUp('fast');


                        //				// Show errors
                        //				if(resp.accessGranted == false)
                        //				{
                        //					$(".errors-container").html('<div class="alert alert-danger">\
                        //						<button type="button" class="close" data-dismiss="alert">\
                        //							<span aria-hidden="true">&times;</span>\
                        //							<span class="sr-only">Close</span>\
                        //						</button>\
                        //						' + resp.errors + '\
                        //					</div>');


                        //					$(".errors-container .alert").hide().slideDown();
                        //					$(form).find('#passwd').select();
                        //				}
                        //												}
                        //		});

                        //	}
                        //});

                        // Set Form focus
                        $("form#login .form-group:has(.form-control):first .form-control").focus();
                    });
                </script>

                <!-- Errors container -->
                <div class="errors-container">


                </div>

                @using (Ajax.BeginForm("AutheticateUserLogin", "Authentication", new { id = "login" }, options))
                {
                    @Html.AntiForgeryToken()
                    <!-- Add class "fade-in-effect" for login form effect -->
                    <div id="login" class="login-form fade-in-effect">
                        <center>
                            <div class="alert alert-danger alert-dismissible" role="alert" id="ErrorDiv" style="display:none;width:400px">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <div class="alert-icon">
                                    <i class="icon-close"></i>
                                </div>
                                <div class="alert-message" id="error">
                                    <span><strong>Error!</strong> </span>
                                </div>

                            </div>

                        </center>
                        
                        <div class="login-header" style="margin: auto; width: 50%; padding: 30px; ">
                            <a href="#" class="logo">
                                <img src="~/assets/images/zenith1.png" width="90" />
                            </a>

                        </div>

                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            @Html.TextBoxFor(model => model.LoginPwdModel.Username, new { autocomplete = "off", @placeholder = "Username", @class = "form-control", @id = "username", @name = "username" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="passwd">Password</label>
                            @Html.PasswordFor(model => model.LoginPwdModel.Password, new { @placeholder = "Password", @autocomplete = "off", @class = "form-control", @id = "pwd", @name = "pwd" })

                        </div>

                        <div class="form-group">
                            <button type="submit" id="btnLogin" class="btn btn-primary  btn-block text-left">
                                <i class="fa-lock"></i>
                                Log In
                            </button>
                        </div>

                        <div class="login-footer">

                            <div class="info-links">

                                <a href="#">Powered By IDSM Consulting Ltd</a>
                            </div>

                        </div>

                    </div>

                }
            </div>

        </div>

    </div>

    <div class="modal fade" id="ChangePass">
        <div class="modal-dialog">
            <div class="modal-content animated zoomInUp">
                <h5 style="color:black" class="modal-title"><i class="fa fa-user"></i> ENFORCE CHANGE PASSWORD</h5>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success" id="searchResults" style="display:none;">
                        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>

                    </div>
                    <div class="alert alert-danger" id="searchResults1" style="display:none;">
                        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>

                    </div>
                    <div class="card-body">
                        <div class="card-content p-2">
                            <div class="alert alert-danger" id="searchResults1" style="display:none;">
                                <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>

                            </div>

                            <form>
                                <div class="form-group">
                                    <div class="position-relative has-icon-left">
                                        <label for="exampleInputUsername" class="sr-only">Username</label>
                                        <input type="hidden" id="hiddenUserId"/>
                                        <input type="text" class="form-control" readonly="readonly" id="ChangeLoginId" autocomplete="off"/>
                                        <div class="form-control-position">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="position-relative has-icon-left">
                                        <label for="exampleInputPassword" class="sr-only">Old Password</label>
                                        <input type="password" class="form-control" placeholder="Old Password" id="ChangeOldPass" autocomplete="off"/>
                                        <div class="form-control-position">
                                            <i class="icon-lock"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="position-relative has-icon-left">
                                        <label for="exampleInputPassword" class="sr-only">New Password</label>
                                        <input type="password" class="form-control" disabled placeholder="New Password" id="ChangeNewPass" autocomplete="off"/>
                                        <div class="form-control-position">
                                            <i class="icon-lock"></i>
                                        </div>
                                    </div>
                                </div>
                                <div id="message"></div>
                                <div class="form-group">
                                    <div class="position-relative has-icon-left">
                                        <label for="exampleInputPassword" class="sr-only">Confirm Password</label>
                                        <input type="password" class="form-control" disabled placeholder="Confirm Password" id="ChangeConfirmNewPass" autocomplete="off"/>
                                        <div class="form-control-position">
                                            <i class="icon-lock"></i>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    <button type="button" id="btnChngePassword" disabled class="btn btn-success"><i class="fa fa-check-square-o"></i> Change Password</button>
                </div>
            </div>
        </div>
    </div>



    <div style="display:none">
        <button type="button" id="BtnHidChangePass" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#ChangePass">SHOW ME</button>
    </div>

    <!-- Bottom Scripts -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/TweenMax.min.js"></script>
    <script src="~/assets/js/resizeable.js"></script>
    <script src="~/assets/js/joinable.js"></script>
    <script src="~/assets/js/xenon-api.js"></script>
    <script src="~/assets/js/xenon-toggles.js"></script>
    <script src="~/assets/js/toastr/toastr.min.js"></script>

    <!-- JavaScripts initializations and stuff -->
    <script src="~/assets/js/xenon-custom.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    @Html.Hidden("ValidatePass", Url.Action("ValidateOldPassword", "Authentication"))
    @Html.Hidden("ChangePass1", Url.Action("ChangePassword", "Authentication"))

    <script>
        $('#ChangeNewPass, #ChangeConfirmNewPass').on('keyup', function () {
            if ($('#ChangeNewPass').val() == $('#ChangeConfirmNewPass').val()) {
                $('#message').html('Matching').css('color', 'green');
                setTimeout(function () { $("#message").hide(); }, 5000);
                $('#btnChngePassword').prop('disabled', false);
            }
            else {
                $('#message').html('Not Matching').css('color', 'red');
                $('#btnChngePassword').prop('disabled', true);
            }

            if ($('#ChangeConfirmNewPass').val() == $('#ChangeNewPass').val()) {
                $('#message').html('Matching').css('color', 'green');
                setTimeout(function () { $("#message").hide(); }, 5000);
                $('#btnChngePassword').prop('disabled', false);
            }
            else {
                $('#message').html('Not Matching').css('color', 'red');
                $('#btnChngePassword').prop('disabled', true);
            }

        });


        function OnBegin() {
            //alert("rrr")
            $("#spinner").show();
            $('#btnLogin').attr('disabled', true);
            $("#imgLoad").show();
            $('#error').hide(0);
        }
        function OnComplete() {
            $("#spinner").hide();
            $('#btnLogin').attr('disabled', false);
            $("#imgLoad").html("");
            $("#imgLoad").hide();

        }
        function OnFailure() {

            console.log("Error");
            $("#spinner").hide();
            $('#btnLogin').attr('disabled', false);
            var result = data.Object;
            round_error_noti(result.ErrorDisplay.ErrorText)
            if (result.ErrorDisplay.ErrorCode == -1) {

                $("#imgLoad").hide();
                $('#BtnLoginPass').attr('disabled', false);
                return;
            }
            $("#imgLoad").hide();
            $('#ErrorDiv').show(0);
            $('#BtnLoginPass').attr('disabled', false);

        }


        function OnSuccess(data) {
            //alert("hhh")
            console.log("Success");
            $("#spinner").hide();
            $('#btnLogin').attr('disabled', false);
            var result = data.Object;

            if (data.Success) {
                console.log(result)
                if (result.LicenseErrCode == -2) {
                    round_error_noti(result.LicenseErrMsg)
                    $('#ErrorDiv').show();
                    $('#error').delay(800).slideDown(500);
                    $('#error').html(result.LicenseErrMsg)

                    $('[id=BtnLogin]').prop('disabled', false);

                    $("#imgLoad").hide();
                    return;
                }

                if (result.ErrorDisplay.ErrorCode == 0)
                {
                    if (result.LicenseErrCode == -1)
                    {
                        warning_noti(result.LicenseErrMsg);
                    }

                    pos5_success_noti(result.ErrorDisplay.ErrorText);
                    $('#loading').html('')
                    window.location = result.Url
                    $("#imgLoad").hide();

                    return;
                }

                else if (result.ErrorDisplay.ErrorCode == -5) {
                    // alert(result.UserId)
                    $("#ChangeLoginId").val($("#username").val());
                    $("#hiddenUserId").val(result.UserId);
                    $('#BtnHidChangePass')[0].click();
                }
                else {
                    //alert("fff")
                    // round_error_noti(result.ErrorDisplay.ErrorText)
                    $('#ErrorDiv').show();
                    $('#error').delay(800).slideDown(500);
                    $('#error').html(result.ErrorDisplay.ErrorText)

                    $('[id=BtnLogin]').prop('disabled', false);

                    $("#imgLoad").hide();

                    return;
                }


            }

        }



        $(document).on('change', '#ChangeOldPass', function () {
            var password = $('#ChangeOldPass').val()
            var userid = $('#hiddenUserId').val()
            var username = $('#ChangeLoginId').val()

            $.ajax({
                url: $("#ValidatePass").val(),
                dataType: 'json',
                type: 'GET',
                cache: false,

                dataType: 'json',
                data: { userid: userid, password: password, username: username },
                success: function (data) {
                    if (data == 1) {
                        $('#searchResults1').hide();

                        $('#ChangeNewPass').prop('disabled', false)
                        $('#ChangeConfirmNewPass').prop('disabled', false)
                        $('#btnChngePassword').prop('disabled', false)
                        return;
                    }
                    else {
                        $('#searchResults1').delay(800).slideDown(500);
                        $('#searchResults1').html("Old Password NOT Correct")


                    }


                },

                error: function () {
                    alert("Failed to Validate Old Password");
                }


            });

        });


        //#region Change Password

        $(document).on('click', '#btnChngePassword', function () {
            $('#btnChngePassword').attr('disabled', true);
            var pass = $('#ChangeNewPass').val()
            var userid = $('#hiddenUserId').val()
            var username = $('#ChangeLoginId').val()
            //  alert("tedddst")
            $.ajax({
                url: $("#ChangePass1").val(),
                dataType: 'json',
                type: 'POST',
                cache: false,
                dataType: 'json',
                data: { pass: pass, userid: userid, username: username },
                success: function (data) {
                    $('#btnChngePassword').attr('disabled', false);
                    if (data == 1) {

                        $('#searchResults1').hide();
                        $('#searchResults').delay(800).slideDown(500);
                        $('#searchResults').html("Password Change Successfull. Kindly Close and Login")
                        $('#btnChngePassword').attr('disabled', true);
                    }


                    else if (data == 2) {
                        $('#searchResults1').delay(800).slideDown(500);
                        $('#searchResults1').html("New Password Cannot be the same as the Old Password, Kindly use another password")


                    }

                    else {
                        $('#searchResults1').delay(800).slideDown(500);
                        $('#searchResults1').html("Failed to Change Password.Please Contact E-Pheonix Administrator")


                    }


                },

                error: function () {

                }


            });


        });


    </script>
</body>
</html>