@model DumpApp.BAL.AdminModel.ViewModel.AdminViewModel

@{
    ViewBag.Title = "AddLocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnBegin = "OnBegin";
    options.OnComplete = "OnComplete";
    options.OnFailure = "OnFailure";
    options.OnSuccess = "OnSuccess";
    options.LoadingElementId = "divProgress";
    options.LoadingElementDuration = 1000;
    options.UpdateTargetId = "divResponse";
    options.InsertionMode = InsertionMode.InsertAfter;
}
<script type='text/javascript'>
    function foo() {
        window.location = '@Model.Url';
    }
</script>
<div class="alert alert-success" id="searchResultsSuccess" style="display:none;">
    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>

</div>
<div class="alert alert-danger" id="searchResultsError" style="display:none;">
    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>

</div>
<div class="row">
    <div class="col-sm-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Add Location</h3>
                <div class="panel-options">
                    <a href="#" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>
                    <a href="#" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>
            @using (Ajax.BeginForm("AddLocation", "Admin", options, new { @class = "form parsley-form" }))
            {
                @Html.AntiForgeryToken()
                <div class="panel-body">

                    <div role="form" class="form-horizontal">
                        <div class="text-right">
                            <button type="button" id="btnTestConnection" name="button" value="Test" class="btn btn-warning"><i class="fa-arrow-circle-right"></i>Test Connection</button>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1"> Name</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.admLocation.Name, new { @autocomplete = "off", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1">Description</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.admLocation.Description, new { @autocomplete = "off", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1">Is Head Office</label>

                            <div class="col-sm-10">
                                @Html.CheckBoxFor(model => model.admLocation.IsHeadOffice, new { @autocomplete = "off", @class = "form-check-input" })

                            </div>
                        </div>


                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1">Server</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.admLocation.Server, new {id="Server", @autocomplete = "off", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group-separator"></div>



                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1">Port</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.admLocation.Port, new { id = "Port", @autocomplete = "off", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1">Username</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.admLocation.Username, new { id = "Username", @autocomplete = "off", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group-separator"></div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1">Password</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.admLocation.Password, new { id = "Password", @autocomplete = "off", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group-separator"></div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-3"></label>
                            <div class="col-sm-10">

                                <button type="submit" class="btn btn-success"><i class="fa-check"></i>Save</button>

                                <input type="button" id="Return" value="Return " class="btn btn-info" onclick="foo()">
                            </div>

                        </div>

                    </div>

                </div>
            }
        </div>

    </div>
</div>

@Html.Hidden("TestConnection", Url.Action("TestLocationConfigConnection", "Admin"))
<script>
    $(document).on('click', '#btnTestConnection', function () {
        $.ajax({
            url: $("#TestConnection").val(),
            type: 'POST',
            data: {
                server: $('#Server').val(),
                port: $('#Port').val(),
                username: $('#Username').val(),
                password: $('#Password').val()
            },
            success: function (data) {
                if (data.nErrorCode == 0) {
                    $('#searchResultsSuccess').hide();
                    $('#searchResultsSuccess').html(data.sErrorText)
                    return;
                }
                else {
                    $('#searchResultsError').delay(800).slideDown(500);
                    $('#searchResultsError').html(data.sErrorText == null ? "Internal Error While Attempting to Connect" : data.sErrorText)
                    return;
                }
            },
            error: function () {
                $('#searchResultsError').delay(800).slideDown(500);
                $('#searchResultsError').html("Internal Error While Attempting to Connect")
            }
        });
    });

</script>