@model DumpApp.BAL.AdminModel.ViewModel.AdminViewModel

@{
    ViewBag.Title = "ManageLocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Manage Location</h3>

        <div class="panel-options">
            <a href="#" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="#" data-toggle="remove">
                &times;
            </a>
        </div>
    </div>
    <div class="panel-body">


        @Html.ActionLink(" Add New Location", "AddLocation", new { h = 5, menuid = Model.menuid }, new { @class = "btn btn-success waves-effect waves-light" })

        <br />
        <table class="table table-striped table-bordered" id="example-35">
            <thead>
                <tr class="replace-inputs">
                    <th> Name</th>
                    <th> Description</th>
                    <th>Is Head Office</th>
                    <th>Server</th>
                    <th>Port</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{int count = 0;}
                @foreach (var row in Model.ListOfLocations)
                {
                    count = count + 1;

                    <tr>

                        <td>@row.Name</td>
                        <td>@row.Description</td>
                        <td>@row.IsHeadOffice</td>
                        <td>@row.Server</td>
                        <td>@row.Port</td>
                        <td>@row.Username</td>
                        <td>
                            @string.Concat(Enumerable.Repeat("*", 8))
                        </td>
                        <td>
                            @if (@row.Status == "Active")
                            {
                                <span class="badge badge-success badge-pill">@row.Status</span>


                            }
                            else
                            {
                                <span class="badge badge-warning badge-pill">@row.Status</span>
                            }
                        </td>

                        <td>
                          
                            @Html.ActionLink(" Edit", "EditLocation", new { h = row.Id, menuid = Model.menuid }, htmlAttributes: new { @style = "color:red", @Class = " mdi mdi-account-edit" }) &nbsp;
                        </td>
                    </tr>
                }
            </tbody>





        </table>

    </div>
</div>


