@model DumpApp.BAL.AdminModel.ViewModel.AdminViewModel
@{
    ViewBag.Title = "ManageClientProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnBegin = "OnBegin";
    options.OnComplete = "OnComplete";
    options.OnFailure = "OnFailure";
    options.OnSuccess = "OnSuccess";
    options.LoadingElementId = "divProgress";
    options.LoadingElementDuration = 1000;
    options.UpdateTargetId = "divResponse";
    options.InsertionMode = InsertionMode.InsertAfter;
}

<div class="row">
    <div class="col-sm-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">MANAGE CLIENT PROFILE</h3>
                <div class="panel-options">
                    <a href="#" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>
                    <a href="#" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>
            @using (Ajax.BeginForm("ClientProfile", "Admin", options, new { @class = "form parsley-form" }))
            {
                @Html.AntiForgeryToken()
                <div class="panel-body">

                    <div role="form" class="form-horizontal">

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-1">Bank Code</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.admClientProfile.BankCode, new { @autocomplete = "off", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-2">Bank Name</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.admClientProfile.BankName, new { @autocomplete = "off", @class = "form-control" })

                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Bank Address</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.admClientProfile.BankAddress, new { @autocomplete = "off", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-3">Enforce Password Change (Days)</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.admClientProfile.EnforcePasswordChangeDays, new { @autocomplete = "off", @class = "form-control" })
                            </div>
                        </div>


                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-3"> System Idle Time Out</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.admClientProfile.SystemIdleTimeout, new { @autocomplete = "off", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-3"> Grace Login Count</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.admClientProfile.LoginCount, new { @autocomplete = "off", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-3">Status</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.admClientProfile.Status, new { @disabled = "disabled", @autocomplete = "off", @class = "form-control", @style = "background-color:white;" })
                            </div>
                        </div>


                        <div class="form-group-separator"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-3">Date Created</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.dateCreated, new { @disabled = "disabled", @autocomplete = "off", @class = "form-control", @style = "background-color:white;" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="field-3"></label>
                            <div class="col-sm-10">
                                @if (Model.roleManager.CanEdit == true)
                                {
                                    <button type="submit" class="btn btn-success">Save</button>
                                }
                            </div>

                        </div>

                    </div>

                </div>
            }
        </div>

    </div>
</div>
