
@model DumpApp.BAL.AdminModel.ViewModel.AdminViewModel
@{ ViewBag.Title = "DashBoard"; Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    
    <div class="col-sm-3">
        <div class="xe-widget xe-counter" data-count=".num" data-from="0" data-to="@Model.dashboard.dumpPercentageRate" data-suffix="%" data-duration="2">
            <div class="xe-icon">
                <i class="linecons-lightbulb"></i>
            </div>
            <div class="xe-label">
                <strong class="num"></strong>
                <span>Dump Success %</span>
            </div>
        </div>
    </div>
    
    <div class="col-sm-3">
        <div class="xe-widget xe-counter xe-counter-info" data-count=".num" data-from="0" data-to="@Model.dashboard.dumpAverageDuration" data-suffix=" sec" data-duration="4" data-easing="true">
            <div class="xe-icon">
                <i class="linecons-lightbulb"></i>
            </div>
            <div class="xe-label">
                <strong class="num">1000</strong>
                <span>Dump Average Duration</span>
            </div>
        </div>
    </div>


    <div class="col-sm-3">
        <div class="xe-widget xe-counter xe-counter-blue" data-count=".num" data-from="0" data-to="@Model.dashboard.loadPercentageRate" data-suffix="%" data-duration="3" data-easing="false">
            <div class="xe-icon">
                <i class="linecons-lightbulb"></i>
            </div>
            <div class="xe-label">
                <strong class="num"></strong>
                <span>Load Success %</span>
            </div>
        </div>
    </div>

  
    <div class="col-sm-3">
        <div class="xe-widget xe-counter xe-counter-red" data-count=".num" data-from="0" data-to="@Model.dashboard.loadAverageDuration" data-prefix="" data-suffix=" sec" data-duration="5" data-easing="true" data-delay="1">
            <div class="xe-icon">
                <i class="linecons-lightbulb"></i>
            </div>
            <div class="xe-label">
                <strong class="num"></strong>
                <span>Load Average Duration</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Last 20 Dump(s)</div>
            <table class="table">
                <thead>
                <tr>

                    <th width="20%">Tape Identifier</th>
                    <th width="20%">Dump Date</th>
                    <th width="20%">Duration</th>
                    <th width="20%">Status</th>
                </tr>
                </thead>
                <tbody>
                @{ int count = 0; }
                @foreach (var row in Model.dashboard.dumps)
                {
                    count = count + 1;

                    <tr>


                        <td>@row.TapeIdentifier</td>
                        <td>@row.DumpDate</td>
                        <td>@row.Duration</td>
                        <td style="width:50px">
                            @switch (row.Status)
                            {
                                case "Dumped":
                                    <span class="label label-success">@row.Status</span>
                                    break;
                                case "Saved":
                                    <span class="label label-info">@row.Status</span>
                                    break;
                                case "Pending":
                                    <span class="label label-warning">@row.Status</span>
                                    break;
                                case "Error":
                                    <span class="label label-danger">@row.Status</span>
                                    break;
                                default:
                                    <span class="label label-default">@row.Status</span>
                                    break;
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="table-responsive">
            <div class="panel panel-default">
                <div class="panel-heading">Last 20 Load(s)</div>
                <table class="table">
                    <thead>
                    <tr>

                        <th width="20%">Tape Identifier</th>
                        <th width="20%">Dump Date</th>
                        <th width="20%">Duration</th>
                        <th width="20%">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var row in Model.dashboard.load)
                    {
                        count = count + 1;

                        <tr>


                            <td>@row.TapeIdentifier</td>
                            <td>@row.DumpDate</td>
                            <td>@row.Duration</td>
                            <td style="width:50px">
                                @switch (row.Status)
                                {
                                    case "Loaded":
                                        <span class="label label-success">@row.Status</span>
                                        break;
                                    case "Saved":
                                        <span class="label label-info">@row.Status</span>
                                        break;
                                    case "Pending":
                                        <span class="label label-warning">@row.Status</span>
                                        break;
                                    case "Error":
                                        <span class="label label-danger">@row.Status</span>
                                        break;
                                    default:
                                        <span class="label label-default">@row.Status</span>
                                        break;
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>
