@model DumpApp.BAL.OperationsModel.ViewModel.OperationsViewModel

@{
    ViewBag.Title = "LoadDump";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Load Dump(s)</h3>

        <div class="panel-options">
            <a href="#" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="#" data-toggle="remove">
                &times;
            </a>
        </div>
    </div>
    <div class="panel-body">

        <script type="text/javascript">
					jQuery(document).ready(function($)
					{
						$("#example-4").dataTable().yadcf([
							{column_number : 1, filter_type: 'text'},
							{column_number : 2, filter_type: 'text'},
                            { column_number: 3, filter_type: 'text' },
                            { column_number: 4, filter_type: 'text' },
                            { column_number: 5, filter_type: 'text' },
                            { column_number: 6, filter_type: 'text' },
                            { column_number: 7, filter_type: 'text' }
						]);
					});
        </script>
        @Html.ActionLink("Load New Dump", "AddNewDump", new { menuid = 2 }, new { @class = "btn btn-danger btn-sm waves-effect waves-light m-1", @style = "color:white; height:25px; font-size:9px" })

        <br />
        <table class="table table-striped table-bordered" id="example-4">
            <thead>
                <tr class="replace-inputs">
                    <th>SNo</th>
                    <th>Name</th>
                    <th>Tape Id</th>
                    <th>Dump Type</th>
                    <th>Tape Type</th>
                    <th>Dump Date</th>
                    <th>Status</th>
                    <th>Created By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{int count = 0;}
                @foreach (var row in Model.ListOfDumps)
                {
                    count = count + 1;

                    <tr>
                        <td>@count</td>
                        <td>@row.Name</td>
                        <td>@row.TapeIdentifier</td>
                        <td>@row.DumpType</td>
                        <td>@row.TapeType</td>
                        <td>@row.DumpDate</td>
                        <td>@row.Status</td>
                        <td>@row.CreatedBy</td>

                        <td>
                            @Html.ActionLink(" Edit", "EditDump", new { h = row.Id, menuid = Model.menuid }, htmlAttributes: new { @Class = "fa fa-edit", @style = "color: red" }) &nbsp;
                        </td>
                    </tr>
                }
            </tbody>


        </table>

    </div>
</div>


