@model DumpApp.BAL.OperationsModel.ViewModel.OperationsViewModel

@{
    ViewBag.Title = "LoadDump";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Load List</h3>

        <div class="panel-options">
            <a href="#" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="#" data-toggle="remove">
                &times;
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div id="example-3_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    $("#example-4").dataTable({
                        "order": [4, 'desc']
                    }).yadcf([

                    ]);
                });
            </script>
           
            <br />
            <table class="table uk-responsive-width table-striped table-bordered dataTable" id="example-4" role="grid" aria-describedby="example-4_info">
                <thead>
                    <tr class="replace-inputs">
                        <th>Tape Id</th>
                        <th>File Name</th>
                        <th>Database</th>
                        <th>Load Type</th>
                        <th>Load Date</th>
                        <th>Status</th>
                        <th>Created By</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.ListOfLoad)
                    {

                        <tr>
                            <td>@row.TapeIdentifier</td>
                            <td>@row.Filename</td>
                            <td>@row.DatebaseId</td>
                            <td>@row.DumpType</td>
                            <td>@row.DumpDate</td>
                            <td style="width:80px">
                                @switch (row.Status)
                                {
                                    case "Loaded":
                                        <span class="label label-success">@row.Status</span>
                                        break;
                                    case "Saved":
                                        <span class="label label-info">@row.Status</span>
                                        break;
                                    case "Pending":
                                        <span class="label label-warning">@row.Status</span>
                                        break;
                                    case "Error":
                                        <span class="label label-danger">@row.Status</span>
                                        <text>&nbsp;<br/></text> @row.ErrorMessage
                                        break;
                                    default:
                                        <span class="label label-default">@row.Status</span>
                                        break;
                                }
                            </td>
                            <td>@row.CreatedBy</td>
                        </tr>
                    }
                </tbody>


            </table>

        </div>
    </div>
</div>
